﻿@Scripts.Render("~/bundles/dataTablesScript")
@Styles.Render("~/bundles/dataTablesCSS")
@Scripts.Render("~/bundles/bootstrapNotify")
@Styles.Render("~/bundles/animate")
@Scripts.Render("~/bundles/jqueryval")

@{
    ViewBag.Title = "Companies";
}

<h2>Companies</h2>
<hr />

<script>
    //convert JSON date format to dd.mm.yyyy
    function convertJSONDate(jsonDate) {
        if (!jsonDate) {
            return null;
        }
        else {
            var formattedDate = new Date(parseInt(jsonDate.substr(6)));
            var date = formattedDate.getDate();
            var month = formattedDate.getMonth() + 1;
            var year = formattedDate.getFullYear();

            return date + "." + month + "." + year;
        }
    }

    $(document).ready(function () {
        function notifyError(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-remove-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "danger",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifySuccess(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-ok-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "success",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifyWarning(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-warning-sign',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "warning",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        $('#editModal').on('hidden.bs.modal', function () {
            $('.form-group').each(function () { $(this).removeClass('has-success'); });
            $('.form-group').each(function () { $(this).removeClass('has-error'); });
            $('.form-group').each(function () { $(this).removeClass('has-feedback'); });
            $('.help-block').each(function () { $(this).remove(); });
            $('.form-control-feedback').each(function () { $(this).removeClass('glyphicon-ok').removeClass('glyphicon-remove'); });
        });

        $('#createModal').on('hidden.bs.modal', function () {
            $('.form-group').each(function () { $(this).removeClass('has-success'); });
            $('.form-group').each(function () { $(this).removeClass('has-error'); });
            $('.form-group').each(function () { $(this).removeClass('has-feedback'); });
            $('.help-block').each(function () { $(this).remove(); });
            $('.form-control-feedback').each(function () { $(this).removeClass('glyphicon-ok').removeClass('glyphicon-remove'); });
        });

        jQuery.validator.addMethod("regex", function (value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
        }, "Please check your input.");

        $('#editForm').validate({
            ignore: "",
            rules: {
                'editName': {
                    required: true
                },
                'editAddress': {
                    required: true
                },
                'editWebsite': {
                    regex: /^(http(s)?:\/\/)?(www\.)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/
                },
                'editTelNum': {
                    regex: /^\(?([0-9]{3})\)?[/. ]?([0-9]{3})[-. ]?([0-9]{3,4})$/
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            },
        });

        $('#createForm').validate({
            ignore: "",
            rules: {
                'createName': {
                    required: true
                },
                'createAddress': {
                    required: true
                },
                'createWebsite': {
                    regex: /^(http(s)?:\/\/)?(www\.)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/
                },
                'createTelNum': {
                    regex: /^\(?([0-9]{3})\)?[/. ]?([0-9]{3})[-. ]?([0-9]{3,4})$/
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            },
        });

        //Specify create form submit button action
        $('#createFormSubmit').click(function (e) {
            if ($("#createForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: '/Settings/CreateCompany',
                    data: {
                        Name: $("#createName").val(),
                        Address: $('#createAddress').val(),
                        Website: $('#createWebsite').val(),
                        TelNum: $('#createTelNum').val()
                    },

                    dataType: "json",

                    success: function (data) {

                        if (data.success === true) {
                            notifySuccess(data.message);
                            $('#createModal').modal('hide');
                            table.ajax.reload();
                            $('#createName').val('');
                            $('#createAddress').val('');
                            $('#createWebsite').val('');
                            $('#createTelNum').val('');
                        }
                        else if (data.success === false) {
                            $('#createValidateTips').html(data.message);
                        }

                    },
                    failure: function (modelStateErrors) {
                        notifyError(modelStateErrors.message);
                    }
                });
            }
        });

        //Specify edit or create action within one submit button
        $('#editFormSubmit').click(function (e) {
            if ($("#editForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: '/Settings/EditCompany/' + $("#editCompanyID").val(),
                    data: {
                        CompanyID: $("#editCompanyID").val(),
                        Name: $("#editName").val(),
                        Address: $('#editAddress').val(),
                        Website: $('#editWebsite').val(),
                        TelNum: $('#editTelNum').val()
                    },

                    dataType: "json",

                    success: function (data) {
                        if (data.success === true) {
                            notifySuccess(data.message);
                            $('#editModal').modal('hide');
                            table.ajax.reload();
                            $('#editCompanyID').val('');
                            $('#editName').val('');
                            $('#editAddress').val('');
                            $('#editWebsite').val('');
                            $('#editTelNum').val('');
                        }
                        else if (data.success === false) {
                            $('#editValidateTips').html(data.message);
                        }

                    },
                    failure: function (modelStateErrors) {
                        notifyError(modelStateErrors.message);
                    }
                });
            }
        });

        $('#deleteFormSubmit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/Settings/DeleteCompany/' + $('#deleteCompanyID').val(),
                data: {
                    CompanyID: $('#deleteCompanyID').val()
                },

                dataType: "json",

                success: function (data) {
                    if (data.success === true) {
                        notifySuccess(data.message);
                        $('#createModal').modal('hide');
                        table.ajax.reload();
                        $('#deleteCompanyID').val('')
                    }
                    else if (data.success === false) {
                        notifyError(data.message);
                    }

                },
                failure: function (modelStateErrors) {
                    notifyError(modelStateErrors.message);
                }
            });

            $("#deleteModal").modal('hide');

        });

        //DataTable Edit button click event handler
        $("#editCompany").click(function () {
            var idValue = table.cell('.selected', 0).data(); //ID value in selected row

            if (idValue == null) {
                notifyWarning("Please select expertise to edit.");
                return;
            }

            //get specified company
            $.getJSON("/Settings/GetCompany/" + idValue, function (json) {
                $('#editCompanyID').val(json.CompanyID);
                $('#editName').val(json.Name);
                $('#editAddress').val(json.Address);
                $('#editWebsite').val(json.Website);
                $('#editTelNum').val(json.TelNum);
                $('#editCreatedBy').val(json.CreatedBy);

                //convert JSON date format
                var jsonDate = json.Created;
                var formattedDate = new Date(parseInt(jsonDate.substr(6)));
                var date = (formattedDate.getMonth() + 1) +
                                        "/" + formattedDate.getDate() +
                                        "/" + formattedDate.getFullYear();
                $('#editCreated').val(date);

            });

            //disable editing for Created and CreatedBy fields
            $("#editCreated").prop("disabled", true);
            $("#editCreatedBy").prop("disabled", true);

            //remove bottom margin of the last input field, equalize white space
            //above footer and below header of the modal
            $('#editCreatedByContainer').css({ 'margin-bottom': '0px' });

            //reset validation message div
            $('#editValidateTips').html('');

            $('#editModal').modal({
                backdrop: 'static',
                keyboard: true
            })

            $("#editModal").modal('show');

        });

        //DataTable Create button click event handler
        $("#createCompany").click(function () {

            //reset validation message div
            $('#createValidateTips').html('');

            //remove bottom margin of the last input field, equalize white space
            //above footer and below header of the modal
            $('#createTelNumContainer').css({ 'margin-bottom': '0px' });

            $('#createModal').modal({
                backdrop: 'static',
                keyboard: true
            })

            $("#createModal").modal('show');
        });

        //DataTable Delete button click event handler
        $("#deleteCompany").click(function () {

            var idValue = table.cell('.selected', 0).data(); //ID value in selected row

            var nameValue = table.cell('.selected', 1).data(); //Name value in selected row

            $('#deleteCompanyID').val(idValue);

            $('#deleteModal').modal({
                backdrop: 'static',
                keyboard: true
            })

            $("#deleteModal").modal('show');
            $("#deleteModalTitle").html('Delete ' + nameValue + '?');
            $("#confirmQuestion").html('You are about to delete ' + nameValue + ' company.');

        });

        //initiate DataTable object
        var table = $('#example').DataTable({
            ajax: {
                url: '/Settings/GetCompanies',
                dataSrc: ''
            },
            "bInfo": false,
            responsive: true,
            "dom": '<lft><#crud><p>',
            columns: [
                        { "data": "CompanyID", title: "ID" },
                        { "data": "Name", title: "Name" },
                        { "data": "Address", title: "Address" },
                        { "data": "Website", title: "Website" },
                        { "data": "TelNum", title: "Telephone" },
                        { "data": "CreatedBy", title: "Created By" },
                        {
                            "data": "Created",
                            title: "Created",
                            "render": convertJSONDate
                        }
            ]
        });

        //highlight the selected row and apply class 'selected'
        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        //tweak DataTable appearance
        $("#example_length").addClass('col-sm-6 noSidePadding');
        $("#example_filter").addClass('col-sm-6 noSidePadding');
        $("#example_paginate").addClass('col-sm-6 noSidePadding');
        $('#buttonControls').prependTo($("#example_paginate").parent());
        $('#buttonControls').addClass('col-sm-6 noSidePadding');

    });
</script>



<table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%"></table>

<div id="buttonControls">
    <div id="buttons" class="btn-group" role="group" aria-label="...">
        <button id="createCompany" type="button" class="btn btn-default">Create</button>
        <button id="editCompany" type="button" class="btn btn-default">Edit</button>
        <button id="deleteCompany" type="button" class="btn btn-default">Delete</button>
    </div>
</div>

<div id="createModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="createModalTitle" class="modal-title">Create new company</h4>
                <div class="validateTips" id="createValidateTips"></div>
            </div>
            <div class="modal-body">

                <form id="createForm" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-6 col-md-6 col-sm-offset-3">
                            <input type="hidden" class="form-control" id="createCompanyID">

                            <div class="form-group">
                                <label for="createName" class="control-label col-sm-12">Company name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="createName" name="createName">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="createName1" id="createName1"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="createAddress" class="control-label col-sm-12">Address:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="createAddress" name="createAddress">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="createAddress1" id="createAddress1"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="createWebsite" class="control-label col-sm-12">Website:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="createWebsite" name="createWebsite">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="createWebsite1" id="createWebsite1"></span>
                                </div>
                            </div>

                            <div id="createTelNumContainer" class="form-group">
                                <label for="createTelNum" class="control-label col-sm-12">Telephone:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="createTelNum" name="createTelNum">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="createTelNum1" id="createTelNum1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="createFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="createModalTitle" class="modal-title">Edit company</h4>
                <div class="validateTips" id="editValidateTips"></div>
            </div>
            <div class="modal-body">

                <form id="editForm" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-6 col-md-6 col-sm-offset-3">
                            <input type="hidden" class="form-control" id="editCompanyID">

                            <div class="form-group">
                                <label for="editName" class="control-label col-sm-12">Company name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="editName" name="editName">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="editName1" id="editName1"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="editAddress" class="control-label col-sm-12">Address:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="editAddress" name="editAddress">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="editAddress1" id="editAddress1"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="editWebsite" class="control-label col-sm-12">Website:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="editWebsite" name="editWebsite">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="editWebsite1" id="editWebsite1"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="editTelNum" class="control-label col-sm-12">Telephone:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="editTelNum" name="editTelNum">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="editTelNum1" id="editTelNum1"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="editCreated" class="control-label col-sm-12">Created:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="editCreated" name="editCreated">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="editCreated1" id="editCreated1"></span>
                                </div>
                            </div>
                            <div id="editCreatedByContainer" class="form-group">
                                <label for="CreatedBy" class="control-label col-sm-12">Created by:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="editCreatedBy" name="editCreatedBy">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="editCreatedBy1" id="editCreatedBy1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="editFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="deleteModalTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm" class="form-horizontal" role="form">
                    <input type="hidden" class="form-control" id="deleteCompanyID">
                </form>
                <p id="confirmQuestion"></p>
                <p>Click "Delete" to proceed or "Cancel" to abort.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="deleteFormSubmit" type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>