﻿
@Scripts.Render("~/bundles/dataTablesScript")
@Styles.Render("~/bundles/dataTablesCSS")
@Scripts.Render("~/bundles/bootstrapNotify")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Levels";
}

<h2>Levels</h2>
<hr />

<script>

    $(document).ready(function () {

        function notifyError(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-remove-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "danger",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifySuccess(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-ok-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "success",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifyWarning(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-warning-sign',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "warning",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        $('#editForm').validate({
            ignore: "",
            rules: {
                'editName': {
                    required: true
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            },
        });

        $('#createForm').validate({
            ignore: "",
            rules: {
                'createName': {
                    required: true
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            },
        });

        $('#editModal').on('hidden.bs.modal', function () {
            $('.form-group').each(function () { $(this).removeClass('has-success'); });
            $('.form-group').each(function () { $(this).removeClass('has-error'); });
            $('.form-group').each(function () { $(this).removeClass('has-feedback'); });
            $('.help-block').each(function () { $(this).remove(); });
            $('.form-control-feedback').each(function () { $(this).removeClass('glyphicon-ok').removeClass('glyphicon-remove'); });
        });

        $('#createModal').on('hidden.bs.modal', function () {
            $('.form-group').each(function () { $(this).removeClass('has-success'); });
            $('.form-group').each(function () { $(this).removeClass('has-error'); });
            $('.form-group').each(function () { $(this).removeClass('has-feedback'); });
            $('.help-block').each(function () { $(this).remove(); });
            $('.form-control-feedback').each(function () { $(this).removeClass('glyphicon-ok').removeClass('glyphicon-remove'); });
        });

        //Specify create form submit button action
        $('#createFormSubmit').click(function (e) {
            if ($("#createForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: '/Settings/CreateLevel',
                    data: {
                        Name: $("#createName").val(),
                    },

                    dataType: "json",

                    success: function (data) {

                        if (data.success === true) {
                            notifySuccess(data.message);
                            $('#createModal').modal('hide');
                            table.ajax.reload();
                            $('#createName').val('');
                        }
                        else if (data.success === false) {
                            $('#createValidateTips').html(data.message);
                        }

                    },
                    failure: function (modelStateErrors) {
                        notifyError("Error:" + modelStateErrors.message);
                    }
                });
            }
        });

        //Specify edit or create action within one submit button
        $('#editFormSubmit').click(function (e) {
            if ($("#editForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: '/Settings/EditLevel/' + $("#editLevelID").val(),
                    data: {
                        LevelID: $("#editLevelID").val(),
                        Name: $("#editName").val(),
                    },

                    dataType: "json",

                    success: function (data) {
                        if (data.success === true) {
                            notifySuccess(data.message);
                            $('#editModal').modal('hide');
                            table.ajax.reload();
                            $('#editLevelID').val('');
                            $('#editName').val('');
                        }
                        else if (data.success === false) {
                            $('#editValidateTips').html(data.message);
                        }

                    },
                    failure: function (modelStateErrors) {
                        notifyError("Error:" + modelStateErrors.message);
                    }
                });
            }
        });

        $('#deleteFormSubmit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/Settings/DeleteLevel/' + $('#deleteLevelID').val(),
                data: {
                    CompanyID: $('#deleteLevelID').val()
                },

                dataType: "json",

                success: function (data) {
                    if (data.success === true) {
                        notifySuccess(data.message);
                        $('#deleteModal').modal('hide');
                        table.ajax.reload();
                        $('#deleteLevelID').val('')
                    }
                    else if (data.success === false) {
                        notifyError(data.message);
                    }

                },
                failure: function (modelStateErrors) {
                    notifyError(modelStateErrors.message);
                }
            });

            $("#deleteModal").modal('hide');

        });

        //DataTable Edit button click event handler
        $("#editLevel").click(function () {
            var idValue = table.cell('.selected', 0).data(); //ID value in selected row

            if (idValue == null) {
                notifyWarning("Please select level to edit.");
                return;
            }

            //get specified company
            $.getJSON("/Settings/GetLevel/" + idValue, function (json) {
                $('#editLevelID').val(json.LevelID);
                $('#editName').val(json.Name);
            });

            //remove bottom margin of the last input field, equalize white space
            //above footer and below header of the modal
            $('#editNameContainer').css({ 'margin-bottom': '0px' });

            //reset validation message div
            $('#editValidateTips').html('');

            $('#editModal').modal({
                backdrop: 'static',
                keyboard: true
            })

            $("#editModal").modal('show');

        });

        //DataTable Create button click event handler
        $("#createLevel").click(function () {

            //reset validation message div
            $('#createValidateTips').html('');

            //remove bottom margin of the last input field, equalize white space
            //above footer and below header of the modal
            $('#createNameContainer').css({ 'margin-bottom': '0px' });

            $('#createModal').modal({
                backdrop: 'static',
                keyboard: true
            })

            $("#createModal").modal('show');
        });

        //DataTable Delete button click event handler
        $("#deleteLevel").click(function () {

            var idValue = table.cell('.selected', 0).data(); //ID value in selected row

            if (idValue == null)
            {
                notifyWarning("Please select level to delete.");
                return;
            }

            var nameValue = table.cell('.selected', 1).data(); //Name value in selected row

            $('#deleteLevelID').val(idValue);

            $("#deleteModal").modal('show');
            $("#deleteModalTitle").html('Delete ' + nameValue + '?');
            $("#confirmQuestion").html('You are about to delete ' + nameValue + ' expertise.');

        });

        //initiate DataTable object
        var table = $('#example').DataTable({
            ajax: {
                url: '/Settings/GetLevels',
                dataSrc: ''
            },
            "bInfo": false,
            responsive: true,
            "dom": '<lft><#crud><p>',
            columns: [
                        { "data": "LevelID", title: "ID" },
                        { "data": "Name", title: "Name" },
            ]
        });

        //highlight the selected row and apply class 'selected'
        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        //tweak DataTable appearance
        $("#example_length").addClass('col-sm-6 noSidePadding');
        $("#example_filter").addClass('col-sm-6 noSidePadding');
        $("#example_paginate").addClass('col-sm-6 noSidePadding');
        $('#buttonControls').prependTo($("#example_paginate").parent());
        $('#buttonControls').addClass('col-sm-6 noSidePadding');

    });
</script>



<table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%"></table>

<div id="buttonControls">
    <div id="buttons" class="btn-group" role="group" aria-label="...">
        <button id="createLevel" type="button" class="btn btn-default">Create</button>
        <button id="editLevel" type="button" class="btn btn-default">Edit</button>
        <button id="deleteLevel" type="button" class="btn btn-default">Delete</button>
    </div>
</div>

<div id="createModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="createModalTitle" class="modal-title">Create new level</h4>
                <div class="validateTips" id="createValidateTips"></div>
            </div>
            <div class="modal-body">

                <form id="createForm" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-6 col-md-6 col-sm-offset-3">

                            <input type="hidden" class="form-control" id="createLevelID">

                            <div class="form-group" id="createNameContainer">
                                <label for="createName" class="control-label col-sm-12">Level name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="createName" id="createName">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="createName1" id="createName1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="createFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="editModalTitle" class="modal-title">Edit level</h4>
                <div class="validateTips" id="editValidateTips"></div>
            </div>
            <div class="modal-body">
                <form id="editForm" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-6 col-md-6 col-sm-offset-3">
                            <input type="hidden" class="form-control" id="editLevelID">

                            <div class="form-group" id="editNameContainer">
                                <label for="levelName" class="control-label col-sm-12">Level name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="editName" name="editName">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="editName1" id="editName1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="editFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="deleteModalTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm" class="form-horizontal" role="form">
                    <input type="hidden" class="form-control" id="deleteLevelID">
                </form>
                <p id="confirmQuestion"></p>
                <p>Click "Delete" to proceed or "Cancel" to abort.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="deleteFormSubmit" type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

