﻿@model HRMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

    </dl>
    <hr />
    <h4>Appearance:</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>Choose theme:</dt>
        <dd>
            <div class="dropdown">
                <button class="btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Choose theme
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var theme in HRMVC.Helpers.Bootstrap.Themes)
                    {
                        <li><a href="@Url.Action("ChangeTheme", "Settings", new { themename = theme})">@theme</a></li>
                    }
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Choose navbar type:</dt>
        <dd>
            <div class="dropdown">
                <button class="btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Choose navbar type
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ChangeNavbarType", "Settings", new { navbarType = "navbar navbar-default navbar-fixed-top"})">Default</a></li>
                    <li><a href="@Url.Action("ChangeNavbarType", "Settings", new { navbarType = "navbar navbar-inverse navbar-fixed-top"})">Inverse</a></li>
                </ul>
            </div>
        </dd>
    </dl>
</div>



