﻿.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}

#createForm{
    text-align:center;
}

#editForm{
    text-align:center;
}

@media only screen and (min-width: 768px) {
    #createForm
    {
        text-align:left;
    }

    #editForm
    {
        text-align:left;
    }
}