﻿body {
    padding-top: 120px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    min-width: 20px;
}

.validateTips {
    color: red;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.viewModal-content
{
    margin-left: 20px;
    padding: 15px;
}

#addCommentText
{
    min-width: 100%;
}

.form-control{
    display:inline;
}

/*multiselect*/
select.multiselect,
select.multiselect + div.btn-group,
select.multiselect + div.btn-group button.multiselect,
select.multiselect + div.btn-group.open .multiselect-container{
    width:100% !important;
}

table.dataTable th,table.dataTable td {
     white-space: nowrap;
 }

.deleteComment{
    font-size: 12px;
    line-height: 12px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 11px;
    }
}

.validationGlyph
{
    margin-right: 10px;
}

.validationSelectGlyph
{
    margin-right: 16px;
}

.help-block
{
    margin-bottom: 0px;
}

.panelHeader {
    margin-top: 5px;
}

.entryAlignLeft {
	float: left;
    clear: both;
}

.entryAlignRight {
	float: right;
}

hr.entryHrLine{
     margin-top: 6px;
  }

.formContainer {
    text-align: center;
}

@media (min-width: 768px) {
    .formContainer {
        text-align: left;
    }
}