﻿@model HRMVC.Models.CampaignStatusAssignmentViewModel

@using (Ajax.BeginForm("AddCandidateStatus", "Campaign", new { formName = "AsssignmentForm" }, null, new { @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()

    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.DropDownList("StatusID", new SelectList(ViewBag.Statuses, "StatusID", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="CampaignIDGroup" class="form-group">
            @Html.LabelFor(model => model.CampaignID, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.CampaignID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CampaignID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="CandidateIDGroup" class="form-group">
            @Html.LabelFor(model => model.CandidateID, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.CandidateID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CandidateID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>

}