﻿@Scripts.Render("~/bundles/dataTablesScript")
@Styles.Render("~/bundles/dataTablesCSS")
@Scripts.Render("~/bundles/multiselectScript")
@Styles.Render("~/bundles/multiselectStyle")
@Scripts.Render("~/bundles/bootstrapNotify")
@Styles.Render("~/bundles/animate")
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")


@using System.Web.Mvc.Ajax;

@{
    ViewBag.Title = "Assign";
}

<h2>Assign candidates</h2>
<hr />

<script>
    //convert JSON date format to dd.mm.yyyy
    function convertJSONDate(jsonDate) {
        if (!jsonDate) {
            return null;
        }
        else {
            var formattedDate = new Date(parseInt(jsonDate.substr(6)));
            var date = formattedDate.getDate();
            var month = formattedDate.getMonth() + 1;
            var year = formattedDate.getFullYear();

            return date + "." + month + "." + year;
        }
    }

    //stop propagation dataTable event
    function stopPropagation(evt) {
        if (evt.stopPropagation !== undefined) {
            evt.stopPropagation();
        } else {
            evt.cancelBubble = true;
        }
    }


    $(document).ready(function () {

        jQuery.validator.addMethod("greaterThan",
        function (value, element, params) {

            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) > new Date($(params).val());
            }

            return isNaN(value) && isNaN($(params).val())
                || (Number(value) > Number($(params).val()));
        }, 'Must be greater than {0}.');

        $.validator.methods.date = function (value, element) {
            dpg = $.fn.datepicker.DPGlobal;
            dateFormat = 'dd/mm/yyyy';
            return this.optional(element) || dpg.parseDate(value, dateFormat);
        }

        $('#createForm').validate({
            ignore: "",
            rules: {
                'Name': {
                    required: true
                },
                'Description': {
                    required: true
                },
                'DateStarted': {
                    required: true,
                    date: true
                },
                'DateFinished': {
                    required: true,
                    date: true,
                    greaterThan: "#DateStarted"
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            },
        });


        //edit-create campaign
        $('#DateStarted').datepicker({ format: 'dd.mm.yyyy', orientation: 'top', autoclose: true }).on('change', function (ev) {
            $('#DateStarted').valid();
            $('#DateFinished').valid();
        });
        $('#DateFinished').datepicker({ format: 'dd.mm.yyyy', orientation: 'top', autoclose: true }).on('change', function (ev) {
            $('#DateStarted').valid();
            $('#DateFinished').valid();
        });

        $('#campaignModal').on('hidden.bs.modal', function () {
            resetCampaignModal();
            //reset validation messages and markup
            $('.form-group').each(function () { $(this).removeClass('has-success'); });
            $('.form-group').each(function () { $(this).removeClass('has-error'); });
            $('.form-group').each(function () { $(this).removeClass('has-feedback'); });
            $('.help-block').each(function () { $(this).remove(); });
            $('.form-control-feedback').each(function () { $(this).remove(); });
        });

        function resetCampaignModal() {
            $("#CampaignID").val(0);
            $("#Name").val('');
            $('#Description').val('');
            $('#DateStarted').val('');
            $('#DateFinished').val('');
            $('#LastUpdated').val('');
            $('#LastUpdatedBy').val('');
            $('#Created').val('');
            $('#CreatedBy').val('');
            $('#campaignValidateTips').html('');
        }

        function openCreateModal() {
            $('#editFormSubmit').hide();
            $('#createFormSubmit').show();

            $("#lastUpdatedGroup").hide();
            $("#lastUpdatedByGroup").hide();
            $("#createdGroup").hide();
            $("#createdByGroup").hide();

            $('#campaignModalTitle').html('Create new campaign');

            $('#campaignModal').modal({
                backdrop: 'static',
                keyboard: true
            });

            $("#campaignModal").modal('show');
        }

        function openEditModal() {

            $('#editFormSubmit').show();
            $('#createFormSubmit').hide();

            //disable editing for Created and CreatedBy fields
            $("#lastUpdatedGroup").show();
            $("#lastUpdatedByGroup").show();
            $("#createdGroup").show();
            $("#createdByGroup").show();

            $("#LastUpdated").prop("disabled", true);
            $("#LastUpdatedBy").prop("disabled", true);
            $("#Created").prop("disabled", true);
            $("#CreatedBy").prop("disabled", true);

            $('#campaignModalTitle').html('Edit campaign');

            $('#campaignModal').modal({
                backdrop: 'static',
                keyboard: true
            });

            $("#campaignModal").modal('show');
        }

        //Specify create form submit button action
        $('#createFormSubmit').click(function (e) {
            if ($("#createForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: '/Campaign/CreateCampaign',
                    data: {
                        Name: $("#Name").val(),
                        Description: $('#Description').val(),
                        DateStarted: $('#DateStarted').val(),
                        DateFinished: $('#DateFinished').val()
                    },

                    dataType: "json",

                    success: function (data) {
                        if (data.success === true) {
                            notifySuccess(data.message);
                            $('#campaignModal').modal('hide');
                            //Reload DataTable
                            table.ajax.reload();

                        }
                        else if (data.success === false) {
                            notifyError(data.message);
                            $('#campaignValidateTips').html(data.message);
                        }

                    },
                    failure: function (modelStateErrors) {
                        notifyError(modelStateErrors.message);
                        $('#campaignValidateTips').html(modelStateErrors.message);
                    }
                });
            }
        });

        //Specify edit or create action within one submit button
        $('#editFormSubmit').click(function (e) {
            if ($("#createForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: '/Campaign/EditCampaign/' + $("#editCampaignID").val(),
                    data: {
                        CampaignID: $("#CampaignID").val(),
                        Name: $("#Name").val(),
                        Description: $('#Description').val(),
                        DateStarted: $('#DateStarted').val(),
                        DateFinished: $('#DateFinished').val()
                    },

                    dataType: "json",

                    success: function (data) {
                        if (data.success === true) {
                            notifySuccess(data.message);
                            $('#campaignModal').modal('hide');
                            table.ajax.reload();

                        }
                        else if (data.success === false) {
                            notifyError(data.message);
                            $('#campaignValidateTips').html(data.message);
                        }

                    },
                    failure: function (modelStateErrors) {
                        notifyError(modelStateErrors.message);
                        $('#campaignValidateTips').html(modelStateErrors.message);
                    }
                });
            }
        });

        //DataTable Edit button click event handler
        $("#editCampaign").click(function () {
            var idValue = table.cell('.info', 1).data(); //ID value in selected row

            if (idValue == null) {
                notifyWarning("Please select a campaign to edit");
                return;
            }

            //get specified company
            $.getJSON("/Campaign/GetCampaign/" + idValue, function (json) {
                $("#CampaignID").val(json.CampaignID);
                $("#Name").val(json.Name);
                $('#Description').val(json.Description);
                $('#LastUpdatedBy').val(json.LastUpdatedBy);
                $('#CreatedBy').val(json.CreatedBy);

                $('#Created').val(convertJSONDate(json.Created));

                $('#LastUpdated').val(convertJSONDate(json.LastUpdated));

                $('#DateStarted').datepicker('setDate', convertJSONDate(json.DateStarted));

                $('#DateFinished').datepicker('setDate', convertJSONDate(json.DateFinished));
            });

            openEditModal();
        });

        //DataTable Create button click event handler
        $("#createCampaign").click(function () {
            openCreateModal();
        });
        //edit-create campaign

        function notifyError(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-remove-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "danger",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifySuccess(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-ok-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "success",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifyWarning(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-warning-sign',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "warning",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        $('#assignToCampaign').click(function (e) {

            var idValue = table.cell('.info', 1).data(); //ID value in info row

            if (idValue == null) {
                notifyWarning("Please select a campaign to assign candidates.");
                return;
            }

            $('#CandidateIDs').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
                disableIfEmpty: true
            });

            $('#CampaignID').val(idValue);

            $.getJSON("/Campaign/GetUnassignedCandidates/" + idValue, function (json) {

                if (json.success === false) {
                    notifyWarning(json.message);
                    resetAssignmentModal();
                }
                else {
                    if (json.unassignedCandidates.length !== 0) {
                        var aOptions = [];
                        $.each(json.unassignedCandidates, function (key, item) {
                            aOptions.push({ label: (item.FirstName + " " + item.LastName), value: item.CandidateID });
                            console.log(item.FirstName + " " + item.LastName);
                        });
                        $('#CandidateIDs').multiselect('dataprovider', aOptions);
                        openAssignCandidateModal();
                    }
                }

            });
            
        });

        $('#assignCandidateSubmit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/Campaign/AssignCandidates',
                data: {
                    CampaignID: $('#CampaignID').val(),
                    CandidateIDs: $('#CandidateIDs').val()
                },
                dataType: "json",
                success: function (data) {

                    var messages = "";
                    if (data.success === true) {
                        $.each(data.messages, function (key, item) {
                            messages += item + '<br>';
                        });

                        notifySuccess(messages);
                        $('#assignmentModal').modal('hide');

                        $("#exampleTable" + $('#CampaignID').val()).DataTable().ajax.reload();
                    }
                    else if (data.success === false) {
                        $.each(data.messages, function (key, item) {
                            messages += item + '<br>';
                        });
                        $('#assignmentValidateTips').html(messages);
                    }

                },
                failure: function (modelStateErrors) {
                    $('#assignmentValidateTips').html(modelStateErrors.message);
                    notifyError(modelStateErrors.message);
                }
            });
        });

        $('#addStatusSubmit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/Campaign/AddCandidateStatus',
                data: {
                    StatusID: $('#StatusID').val(),
                    CampaignID: $('#CampaignID').val(),
                    CandidateID: $('#CandidateID').val()
                },
                dataType: "json",
                success: function (data) {

                    if (data.success === true) {
                        notifySuccess(data.message);
                        $('#assignmentModal').modal('hide');
                    }
                    else if (data.success === false) {
                        $('#assignmentValidateTips').html(modelStateErrors.message);
                        notifyError(data.message);
                    }
                },
                failure: function (modelStateErrors) {
                    $('#assignmentValidateTips').html(modelStateErrors.message);
                    notifyError(data.message);
                }
            });
        });

        $('#deleteCampaignCandidateSubmit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/Campaign/DeleteCampaignCandidate',
                data: {
                    CandidateID: $('#CandidateID').val(),
                    CampaignID: $('#CampaignID').val(),
                    StatusID: 0
                },
                dataType: "json",
                success: function (response) {
                    if (response.success === true) {
                        $('#assignmentModal').modal('hide');
                        notifySuccess(response.message);
                        refreshTable = oCurrentInnerTable;
                    }
                    else if (response.success === false) {
                        notifyWarning(response.message);
                    }
                },
                failure: function (response) {
                    notifyError(response.message);
                }
            });
        });

        function openAddStatusModal() {
            $('#deleteCampaignCandidateSubmit').hide();
            $('#assignCandidateSubmit').hide();
            $('#CandidateIDsGroup').hide();

            $('#assignmentModalTitle').html("Add new status");
            $('#StatusIDGroup').show();
            $('#addStatusSubmit').show();



            $('#assignmentModal').modal({
                backdrop: 'static',
                keyboard: true
            });
        }

        function openAssignCandidateModal() {
            $('#addStatusSubmit').hide();
            $('#deleteCampaignCandidateSubmit').hide();
            $('#StatusIDGroup').hide();

            $('#CandidateIDsGroup').show();
            $('#assignmentModalTitle').html("Add candidates to campaign");
            $('#assignCandidateSubmit').show();

            $('#assignmentModal').modal({
                backdrop: 'static',
                keyboard: true
            });
        }

        function openDeleteCampaignCandidateModal() {
            $('#assignCandidateSubmit').hide();
            $('#addStatusSubmit').hide();
            $('#CandidateIDsGroup').hide();
            $('#StatusIDGroup').hide();

            $('#deleteCampaignCandidateSubmit').show();
            $('#assignmentModalTitle').html("Delete candidate from campaign");
            $('#deleteMessage').html('Click "Delete" to proceed or "Cancel" to abort.');

            $('#assignmentModal').modal({
                backdrop: 'static',
                keyboard: true
            });
        }

        function resetAssignmentModal() {
            $('#CandidateIDsGroup').hide();
            $('#StatusIDGroup').hide();

            $('#assignCandidateSubmit').hide();
            $('#addStatusSubmit').hide();
            $('#deleteCampaignCandidateSubmit').hide();

            $('#assignmentModalTitle').html('');
            $('#deleteMessage').html('');
            $('#validateTips').html('');
            
            $('#CandidateIDs').multiselect('destroy');

            $('#StatusID').html('');
            $('#StatusID').val(0);
            $('#CampaignID').val(0);
            $('#CandidateID').val(0);
        }

        $('#assignmentModal').on('hidden.bs.modal', function () {
            resetAssignmentModal();
            refreshTable.ajax.reload();
            refreshTable = null;
        });

        var refreshTable;
        var iParentCampaignID = 0;

        //append new table tag to parent row
        function formatChildTable(iId) {
            var htmlTag = '<table id=exampleTable' + iId + ' class="table table-hover">'; //form an id for the child table
            htmlTag +=
            '<thead>' +
                '<tr>'+
                    '<th>Candidate ID</th>'+
                    '<th>First Name</th>'+
                    '<th>Last Name</th>'+
                    '<th>Last Status</th>' +
                    '<th>Primary Expertise</th>' +
                    '<th>Edit Candidate</th>' +
                    '<th>Delete Candidate</th>' +
                    '<th>CampaignID</th>' +
                '</tr>'+
                '<tr id="filterrow">'+
                    '<th>Candidate ID</th>' +
                    '<th>First Name</th>' +
                    '<th>Last Name</th>' +
                    '<th>Last Status</th>' +
                    '<th>Primary Expertise</th>' +
                    '<th class="editCandidateCellTitle">Edit Candidate</th>' +
                    '<th class="deleteCandidateCellTitle">Delete Candidate</th>' +
                    '<th>CampaignID</th>' +
                ' </tr>'+
            '</thead>'
            htmlTag += "</table>";
            return htmlTag;
        }

        //initiate DataTable object
        var table = $('#example').DataTable({
            ajax: {
                url: '/Campaign/GetCampaignsComplete',
                dataSrc: ''
            },
            "bInfo": false,
            /*responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },*/
            "dom": '<lft><#crud><p>',
            columns: [
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "orderable": false
                        },
                        { "data": "CampaignID", title: "ID", "visible": false },
                        { "data": "Name", title: "Name" },
                        { "data": "Description", title: "Description" },
                        {
                            "data": "DateStarted", title: "Date Started",
                            "render": convertJSONDate
                        },
                        {
                            "data": "DateFinished", title: "Date Finished",
                            "render": convertJSONDate
                        },
                        { "data": "CreatedBy", title: "Created By" },
                        {
                            "data": "LastUpdated",
                            title: "Last Updated",
                            "render": convertJSONDate
                        },
                        { "data": "LastUpdatedBy", title: "Last Updated By" },
            ]
        });

        //onClick event for parent rows only
        $('#example tbody').on('click', 'tr', function () {

            if (!$(this).hasClass('childRow')) {

                if ($(this).hasClass('info')) {
                    $(this).removeClass('info');
                }
                else {
                    table.$('tr.info').removeClass('info');
                    $(this).addClass('info');
                }
            }

        });

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            console.log("click");

            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var childData = table.row(tr).data();
            var iParentCampaignID = childData.CampaignID;

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                tr.addClass('shown');
                row.child(formatChildTable(iParentCampaignID)).show();
                row.child().addClass("childRow");

                $('.editCandidateCellTitle').html('');
                $('.deleteCandidateCellTitle').html('');

                $('#exampleTable' + iParentCampaignID + ' thead tr#filterrow th').each(function () {
                    var title = $('#exampleTable' + iParentCampaignID + ' thead th').eq($(this).index()).text();
                    if (title != 'Edit Candidate' && title != 'Delete Candidate')
                    {
                        $(this).html('<input type="text" onclick="stopPropagation(event);" placeholder="Search ' + title + '" />');
                    }
                    
                });

                oInnerTable = $("#exampleTable" + iParentCampaignID).DataTable({
                    //data: childData.AssignedCandidates,
                    ajax: {
                        url: '/Campaign/GetAssignedCandidates/' + iParentCampaignID,
                        dataSrc: ''
                    },
                    "createdRow": function (row, data, index) {
                        $(row).addClass('childRow');
                    },
                    "sDom": 't',
                    "bInfo": false,
                    responsive: true,
                    "bPaginate": false,
                    "bFilter": true,
                    orderCellsTop: true,
                    "lengthMenu": ["All"],
                    columns: [
                        { "data": "CandidateID", "sClass": "candidate-id", "visible": false },
                        { "data": "FirstName"},
                        { "data": "LastName"},
                        { "data": "LastStatus"},
                        { "data": "PrimaryExpertise", "sClass": "text-center"},
                        {
                            "data": "CandidateID",
                            "sClass": "text-center",
                            "render": function (data, type, full, meta) {
                                return '<button class="btn btn-default btn-xs editButton">Edit</button>';
                            }
                        },
                        
                        {
                            "data": null,
                            "sClass": "text-center",
                            "render": function (data, type, full, meta) {
                                return '<button class="btn btn-default btn-xs deleteButton">Delete</button>';
                            }
                        },
                        {
                            "data": null,
                            "sClass": "text-center campaign-id",
                            "visible": false,
                            "render": function (data, type, full, meta) {
                                return iParentCampaignID;
                            }
                        }
                    ]
                });

                console.log(oInnerTable);

                $('#exampleTable' + iParentCampaignID + ' thead input').on('keyup change', function () {
                    oInnerTable
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });



                $("#exampleTable" + iParentCampaignID + ' tr').addClass('childRow');

                oInnerTable.on('click', 'button', function () {
                    var oCurrentInnerTable = $(this).closest('table').DataTable();
                    var data = oCurrentInnerTable.row($(this).closest('tr')).data();

                    //edit button clicked
                    if ($(this).hasClass("editButton")) {

                        $('#CandidateID').val(data.CandidateID);
                        $('#CampaignID').val(iParentCampaignID);

                        //Populate StatusID with valid statuses for campaign
                        $.ajax({
                            type: "POST",
                            url: '/Campaign/ReturnValidStatuses',
                            data: {
                                CandidateID: data.CandidateID,
                                CampaignID: iParentCampaignID
                            },

                            dataType: "json",

                            success: function (response) {
                                if (response.success === true) {
                                    console.log("Populating droplist.")
                                    //populate StatusID droplist with valid statuses
                                    $.each(response.statuses, function (key, item) {
                                        $('#StatusID').append($("<option />").val(item.StatusID).text(item.Name));
                                    });
                                    openAddStatusModal();
                                    refreshTable = oCurrentInnerTable;
                                }
                                else if (response.success === false) {
                                    notifyWarning(response.message);
                                    resetAssignmentModal();
                                }
                            },
                            failure: function (modelStateErrors) {
                                notifyError(response.message);
                            }
                        });
                    }

                    if ($(this).hasClass("deleteButton")) {
                        var oCurrentInnerTable = $(this).closest('table').DataTable();
                        var data = oCurrentInnerTable.row($(this).closest('tr')).data();

                        $('#CandidateID').val(data.CandidateID);
                        $('#CampaignID').val(iParentCampaignID);

                        openDeleteCampaignCandidateModal();
                        refreshTable = oCurrentInnerTable;
                    }

                });
            }
        });

        //tweak DataTable appearance
        $("#example_length").addClass('col-sm-6 noSidePadding');
        $("#example_filter").addClass('col-sm-6 noSidePadding');
        $("#example_paginate").addClass('col-sm-6 noSidePadding');
        $('#buttonControls').prependTo($("#example_paginate").parent());
        $('#buttonControls').addClass('col-sm-6 noSidePadding');

    });
</script>

<table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%"></table>

<div id="buttonControls">
    <div id="buttons" class="btn-group" role="group" aria-label="...">
        <button id="assignToCampaign" type="button" class="btn btn-default">Assign</button>
        <button id="createCampaign" type="button" class="btn btn-default">Create</button>
        <button id="editCampaign" type="button" class="btn btn-default">Edit</button>
    </div>
</div>

<div id="assignmentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="assignmentModalTitle" class="modal-title">Title</h4>
                <div class="validateTips" id="assignmentValidateTips"></div>
            </div>
            <div class="modal-body">
                <p id="deleteMessage"></p>
                <div class="row">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-6 col-md-6 col-sm-offset-3">
                                <div id="StatusIDGroup" class="form-group">
                                    <label for="StatusID" class="control-label col-sm-12">Choose status:</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" id="StatusID" name="StatusID"></select>
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" id="CampaignID">
                                <input type="hidden" class="form-control" id="CandidateID">

                                <div id="CandidateIDsGroup">
                                    <label for="CandidateIDs" class="control-label col-sm-12">Choose candidates:</label>
                                    <div class="col-sm-12">
                                        <select id="CandidateIDs" multiple="multiple"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addStatusSubmit" type="submit" class="btn btn-primary">Submit</button>
                <button id="assignCandidateSubmit" type="submit" class="btn btn-primary">Submit</button>
                <button id="deleteCampaignCandidateSubmit" type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="campaignModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="campaignModalTitle" class="modal-title"></h4>
                <div class="validateTips" id="campaignValidateTips"></div>
            </div>
            <div class="modal-body">

                <form id="createForm" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-6 col-md-6 col-sm-offset-3">

                            <input type="hidden" class="form-control" id="CampaignID">

                            <div class="form-group">
                                <label for="Name" class="control-label col-sm-12">Campaign name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="Name" name="Name">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="Name1" id="Name1"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="control-label col-sm-12">Campaign description:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="Description" name="Description">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="Description1" id="Description1"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DateStarted" class="control-label col-sm-12">Date started:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control datepicker-orient-bottom" id="DateStarted" name="DateStarted">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="DateStarted1" id="DateStarted1"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DateFinished" class="control-label col-sm-12">Date finished:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control datepicker-orient-bottom" id="DateFinished" name="DateFinished">
                                    <span class="validationGlyph glyphicon form-control-feedback" name="DateFinished1" id="DateFinished1"></span>
                                </div>
                            </div>
                            <div id="createdGroup" class="form-group">
                                <label for="Created" class="control-label col-sm-12">Created on:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="Created">
                                </div>
                            </div>
                            <div id="createdByGroup" class="form-group">
                                <label for="CreatedBy" class="control-label col-sm-12">Created by:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="CreatedBy">
                                </div>
                            </div>
                            <div id="lastUpdatedGroup" class="form-group">
                                <label for="LastUpdated" class="control-label col-sm-12">Last updated on:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="LastUpdated">
                                </div>
                            </div>
                            <div id="lastUpdatedByGroup" class="form-group">
                                <label for="LastUpdatedBy" class="control-label col-sm-12">Last updated by:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="LastUpdatedBy">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="createFormSubmit" type="submit" class="btn btn-primary">Submit</button>
                <button id="editFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>