﻿@Scripts.Render("~/bundles/dataTablesScript")
@Styles.Render("~/bundles/dataTablesCSS")
<link href="~/Content/oneColumnBSModal.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

@{
    ViewBag.Title = "Campaigns";
}

<h2>Campaigns</h2>
<hr />

<script>
    //convert JSON date format to dd.mm.yyyy
    function convertJSONDate(jsonDate) {
        if (!jsonDate)
        {
            return null;
        }
        else
        {
            var formattedDate = new Date(parseInt(jsonDate.substr(6)));
            var date = formattedDate.getDate();
            var month = formattedDate.getMonth() + 1;
            var year = formattedDate.getFullYear();

            return date + "." + month + "." + year;
        }
    }

    $(document).ready(function () {

        $('#DateStarted').datepicker({ format: 'dd.mm.yyyy', orientation:  'top' });
        $('#DateFinished').datepicker({ format: 'dd.mm.yyyy', orientation: 'top' });

        $('#campaignModal').on('hidden.bs.modal', function () {
            resetModal();
            //reset validation messages and markup
            $('.form-group').each(function () { $(this).removeClass('has-success'); });
            $('.form-group').each(function () { $(this).removeClass('has-error'); });
            $('.form-group').each(function () { $(this).removeClass('has-feedback'); });
            $('.help-block').each(function () { $(this).remove(); });
            $('.form-control-feedback').each(function () { $(this).remove(); });
        });

        function resetModal()
        {
            $("#CampaignID").val(0);
            $("#Name").val('');
            $('#Description').val('');
            $('#DateStarted').val('');
            $('#DateFinished').val('');
            $('#LastUpdated').val('');
            $('#LastUpdatedBy').val('');
            $('#Created').val('');
            $('#CreatedBy').val('');
            $('#validateTips').html('');
        }

        function openCreateModal(){
            $('#editFormSubmit').hide();
            $('#createFormSubmit').show();

            $("#lastUpdatedGroup").hide();
            $("#lastUpdatedByGroup").hide();
            $("#createdGroup").hide();
            $("#createdByGroup").hide();

            $('#campaignModalTitle').html('Create new campaign');
            
            $('#campaignModal').modal({
                backdrop: 'static',
                keyboard: true
            });

            $("#campaignModal").modal('show');
        }

        function openEditModal() {

            $('#editFormSubmit').show();
            $('#createFormSubmit').hide();

            //disable editing for Created and CreatedBy fields
            $("#lastUpdatedGroup").show();
            $("#lastUpdatedByGroup").show();
            $("#createdGroup").show();
            $("#createdByGroup").show();

            $("#LastUpdated").prop("disabled", true);
            $("#LastUpdatedBy").prop("disabled", true);
            $("#Created").prop("disabled", true);
            $("#CreatedBy").prop("disabled", true);

            $('#campaignModalTitle').html('Edit campaign');
            
            $('#campaignModal').modal({
                backdrop: 'static',
                keyboard: true
            });

            $("#campaignModal").modal('show');
        }

        //Specify create form submit button action
        $('#createFormSubmit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/Campaign/CreateCampaign',
                data: {
                    Name: $("#Name").val(),
                    Description: $('#Description').val(),
                    DateStarted: $('#DateStarted').val(),
                    DateFinished: $('#DateFinished').val()
                },

                dataType: "json",

                success: function (data) {
                    alert('Data sent');
                    if (data.success === true) {
                        alert("Success:" + data.message);
                        $('#campaignModal').modal('hide');
                        //Reload DataTable
                        table.ajax.reload();

                    }
                    else if (data.success === false) {
                        $('#validateTips').html(data.message);
                    }

                },
                failure: function (modelStateErrors) {
                    alert("Error:" + modelStateErrors.message);
                }
            });
        });

        //Specify edit or create action within one submit button
        $('#editFormSubmit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/Campaign/EditCampaign/' + $("#editCampaignID").val(),
                data: {
                    CampaignID: $("#CampaignID").val(),
                    Name: $("#Name").val(),
                    Description: $('#Description').val(),
                    DateStarted: $('#DateStarted').val(),
                    DateFinished: $('#DateFinished').val()
                },

                dataType: "json",

                success: function (data) {
                    alert('Data sent');
                    if (data.success === true) {
                        alert("Success:" + data.message);
                        $('#campaignModal').modal('hide');
                        table.ajax.reload();

                    }
                    else if (data.success === false) {
                        $('#validateTips').html(data.message);
                    }

                },
                failure: function (modelStateErrors) {
                    alert("Error:" + modelStateErrors.message);
                }
            });
        });

        //DataTable Edit button click event handler
        $("#editCampaign").click(function () {
            var idValue = table.cell('.selected', 0).data(); //ID value in selected row

            //get specified company
            $.getJSON("/Campaign/GetCampaign/" + idValue, function (json) {
                $("#CampaignID").val(json.CampaignID);
                $("#Name").val(json.Name);
                $('#Description').val(json.Description);
                $('#LastUpdatedBy').val(json.LastUpdatedBy);
                $('#CreatedBy').val(json.CreatedBy);

                $('#Created').val(convertJSONDate(json.Created));

                $('#LastUpdated').val(convertJSONDate(json.LastUpdated));
                
                $('#DateStarted').datepicker('setDate', convertJSONDate(json.DateStarted));

                $('#DateFinished').datepicker('setDate', convertJSONDate(json.DateFinished));
            });

            openEditModal();
        });

        //DataTable Create button click event handler
        $("#createCampaign").click(function () {
            openCreateModal();
        });

        //initiate DataTable object
        var table = $('#example').DataTable({
            ajax: {
                url: '/Campaign/GetCampaigns',
                dataSrc: ''
            },
            "bInfo": false,
            responsive: true,
            "dom": '<lft><#crud><p>',
            columns: [
                        { "data": "CampaignID", title: "ID" },
                        { "data": "Name", title: "Name" },
                        { "data": "Description", title: "Description" },
                        {
                            "data": "DateStarted", title: "Date Started",
                            "render": convertJSONDate
                        },
                        {
                            "data": "DateFinished", title: "Date Finished",
                            "render": convertJSONDate
                        },
                        { "data": "CreatedBy", title: "Created By" },
                        {
                            "data": "LastUpdated",
                            title: "Last Updated",
                            "render": convertJSONDate
                        },
                        { "data": "LastUpdatedBy", title: "Last Updated By" }
            ]
        });

        //highlight the selected row and apply class 'selected'
        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        //tweak DataTable appearance
        $("#example_length").addClass('col-sm-6 noSidePadding');
        $("#example_filter").addClass('col-sm-6 noSidePadding');
        $("#example_paginate").addClass('col-sm-6 noSidePadding');
        $('#buttonControls').prependTo($("#example_paginate").parent());
        $('#buttonControls').addClass('col-sm-6 noSidePadding');

    });
</script>



<table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%"></table>

<div id="buttonControls">
    <div id="buttons" class="btn-group" role="group" aria-label="...">
        <button id="createCampaign" type="button" class="btn btn-default">Create</button>
        <button id="editCampaign" type="button" class="btn btn-default">Edit</button>
    </div>
</div>

<div id="campaignModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="campaignModalTitle" class="modal-title"></h4>
                <div id="validateTips"></div>
            </div>
            <div class="modal-body">

                <form id="createForm" class="form-horizontal" role="form">
                    
                    <input type="hidden" class="form-control" id="CampaignID">

                    <div class="form-group">
                        <label for="Name" class="control-label col-sm-3">Campaign name:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="control-label col-sm-3">Campaign description:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DateStarted" class="control-label col-sm-3">Date started:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control datepicker-orient-bottom" id="DateStarted">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DateFinished" class="control-label col-sm-3">Date finished:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control datepicker-orient-bottom" id="DateFinished">
                        </div>
                    </div>
                    <div id="createdGroup" class="form-group">
                        <label for="Created" class="control-label col-sm-3">Created on:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Created">
                        </div>
                    </div>
                    <div id="createdByGroup" class="form-group">
                        <label for="CreatedBy" class="control-label col-sm-3">Created by:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="CreatedBy">
                        </div>
                    </div>
                    <div id="lastUpdatedGroup" class="form-group">
                        <label for="LastUpdated" class="control-label col-sm-3">Last updated on:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="LastUpdated">
                        </div>
                    </div>
                    <div id="lastUpdatedByGroup" class="form-group">
                        <label for="LastUpdatedBy" class="control-label col-sm-3">Last updated by:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="LastUpdatedBy">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="createFormSubmit" type="submit" class="btn btn-primary">Submit</button>
                <button id="editFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
