﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Manager - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @{
        var theme = Session["CssTheme"] as string ?? HRMVC.Helpers.Bootstrap.Theme.flatly;
        var navbarType = Session["NavbarType"] as string ?? "navbar navbar-inverse navbar-fixed-top";
    }

    @Styles.Render(HRMVC.Helpers.Bootstrap.Bundle(theme))
    
</head>
<body>
    <div class="@navbarType">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HR Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Candidates", "Index", "Candidate")
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Campaigns<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Assign candidates", "Assign", "Campaign")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Companies", "Companies", "Settings")</li>
                            <li>@Html.ActionLink("Expertises", "Expertises", "Settings")</li>
                            <li>@Html.ActionLink("Skills", "Levels", "Settings")</li>
                            <li>@Html.ActionLink("Statuses", "Statuses", "Settings")</li>
                            <li>@Html.ActionLink("User Options", "Index", "Manage")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <!--<p>&copy; @*DateTime.Now.Year*@</p>-->

        </footer>

            </footer>
        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/Content/themes/base/css")
        @RenderSection("scripts", required: false)
    </body>
</html>
