﻿@{
    ViewBag.Title = "GridView";
}


<table id="list2" class="table table-condensed table-striped"></table>
<div id="pager2"></div>



<script type="text/javascript">

    //resize grid function, responsive grid width
    $(window).on("resize", function () {
        var $grid = $("#list2"),
            newWidth = $grid.closest(".ui-jqgrid").parent().width();
        $grid.jqGrid("setGridWidth", newWidth, true);
    });



    $(document).ready(function () {

        //dialog init
        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            autoResize: true,
            width: "auto",
            //width: 900,
            //height: 350,
            modal: true,
            buttons: {
                "Submit": function () {
                    $.ajax({
                        type: "POST",
                        url: '/Candidate/Edit',
                        data: {
                            CandidateID: $("#CandidateID").val(),
                            FirstName: $('#FirstName').val(),
                            LastName:$('#LastName').val(),
                            Email:$('#Email').val(),
                            TelNum: $('#TelNum').val(),
                            City: $('#City').val(),
                            School:  $('#School').val(),
                            ExpectedSalary:  $('#ExpectedSalary').val(),
                            LinkedIn: $('#LinkedIn').val(),
                            Company: $('#Company').val(),
                            PrimaryExpertise: $('#PrimaryExpertise').val(),
                            SecondaryExpertise: $('#SecondaryExpertise').val(),
                            PELevel:  $('#PELevel').val(),
                            SELevel: $('#SELevel').val()
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.success === true)
                            {
                                alert("Success:" + data.message);
                                dialog.dialog("close");
                                jQuery("#list2").trigger("reloadGrid");
                            }
                            else if (data.success === false)
                            {
                                $('#validateTips').html(data.message);
                            }

                        },
                        failure: function (modelStateErrors) {
                            alert("Error:" + modelStateErrors.message);
                        }
                    });

                }
            },
            close: function () {
                form[0].reset();
            }
        });

        form = dialog.find("form").on("submit", function (event) {
            alert("Submit");
        });


        var lastSel;
        jQuery("#list2").jqGrid({
            //loadComplete context menu

            url: '/candidate/Grid',
            width: $("#list2").parent().width(),
            styleUI: 'Bootstrap',
            autowidth: true,
            shrinkToFit: true,
            datatype: "json",
            colNames: ['ID', 'First name', 'Last name', 'E mail', 'Telephone', 'LinkedIn', 'City'],
            colModel: [
                { name: 'CandidateID', index: 'CandidateID', width: 20 },
                { name: 'FirstName', index: 'FirstName', width: 60 },
                { name: 'LastName', index: 'LastName', width: 60 },
                { name: 'Email', index: 'Email', width: 90 },
                { name: 'TelNum', index: 'TelNum', width: 80 },
                { name: 'LinkedIn', index: 'LinkedIn', width: 90 },
                { name: 'City', index: 'City', width: 50 }
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            sortname: 'CandidateID',
            viewrecords: true,
            sortorder: "desc",

            //double click event
            ondblClickRow: function (rowid) {
                var rowId = $(this).jqGrid('getGridParam', 'selrow');
                var rowData = jQuery(this).getRowData(rowId);
                var colData = rowData.CandidateID;
                $.getJSON("/Candidate/Candidate/" + colData, function (json) {
                    $('#CandidateID').val(json.CandidateID);
                    $('#FirstName').val(json.FirstName);
                    $('#LastName').val(json.LastName);
                    $('#Email').val(json.Email);
                    $('#TelNum').val(json.TelNum);
                    $('#City').val(json.City);
                    $('#School').val(json.School);
                    $('#ExpectedSalary').val(json.ExpectedSalary);
                    $('#LinkedIn').val(json.LinkedIn);
                    $('#Company').val(json.Company);
                    $('#PrimaryExpertise').val(json.PrimaryExpertise);
                    $('#SecondaryExpertise').val(json.SecondaryExpertise);
                    $('#PELevel').val(json.PELevel);
                    $('#SELevel').val(json.SELevel);
                });
                $('#validateTips').html("");
                dialog.dialog("open");
                //$("#PrimaryExpertise").selectmenu();
                //$("#SecondaryExpertise").selectmenu();
                //$('#PELevel').selectmenu();
                //$("#SELevel").selectmenu();
            },
            loadComplete: function () {
                $("tr.jqgrow", this).contextMenu('myMenu1', {
                    bindings: {
                        'edit': function (trigger) {
                            // trigger is the DOM element ("tr.jqgrow") which are triggered
                            var rowData = jQuery('#list2').getRowData(trigger.id);
                            var colData = rowData.CandidateID;
                            $.getJSON("/Candidate/Candidate/" + colData, function (json) {
                                $('#CandidateID').val(json.CandidateID);
                                $('#FirstName').val(json.FirstName);
                                $('#LastName').val(json.LastName);
                                $('#Email').val(json.Email);
                                $('#TelNum').val(json.TelNum);
                                $('#City').val(json.City);
                                $('#School').val(json.School);
                                $('#ExpectedSalary').val(json.ExpectedSalary);
                                $('#LinkedIn').val(json.LinkedIn);
                                $('#Company').val(json.Company);
                                $('#PrimaryExpertise').val(json.PrimaryExpertise);
                                $('#SecondaryExpertise').val(json.SecondaryExpertise);
                                $('#PELevel').val(json.PELevel);
                                $('#SELevel').val(json.SELevel);
                            });

                                dialog.dialog("open");
                        },
                        'add': function (/*trigger*/) {
                            //grid.editGridRow("new", addSettings);
                        }
                    },
                    onContextMenu: function (event/*, menu*/) {
                        var rowId = $(event.target).closest("tr.jqgrow").attr("id");
                        //grid.setSelection(rowId);
                        // disable menu for rows with even rowids
                        $('#del').attr("disabled", Number(rowId) % 2 === 0);
                        if (Number(rowId) % 2 === 0) {
                            $('#del').attr("disabled", "disabled").addClass('ui-state-disabled');
                        } else {
                            $('#del').removeAttr("disabled").removeClass('ui-state-disabled');
                        }
                        return true;
                    }
                });
            },

            //select row and get json data for selected CandidateID
            caption: "Candidates List"
        });
        jQuery("#list2").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false });
    });
</script>

<div id="dialog-form" title="Edit Candidate" style="display: none; overflow: visible;">
    <p id="validateTips" style="color: red;"></p>
    <form>
        <fieldset>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <input type="hidden" name="CandidateID" id="CandidateID">

                <label for="FirstName">First Name</label><br />
                <input type="text" name="FirstName" id="FirstName" class="text ui-widget-content ui-corner-all"><br />

                <label for="LastName">Last Name</label><br />
                <input type="text" name="LastName" id="LastName" class="text ui-widget-content ui-corner-all"><br />

                <label for="Email">Email</label><br />
                <input type="text" name="Email" id="Email" class="text ui-widget-content ui-corner-all"><br />

                <label for="TelNum">Telephone Number</label><br />
                <input type="text" name="TelNum" id="TelNum" class="text ui-widget-content ui-corner-all"><br />

                <label for="LinkedIn">LinkedIn</label><br />
                <input type="text" name="LinkedIn" id="LinkedIn" class="text ui-widget-content ui-corner-all"><br />
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label for="City">City</label><br />
                <input type="text" name="City" id="City" class="text ui-widget-content ui-corner-all"><br />

                <label for="School">School</label><br />
                <input type="text" name="School" id="School" class="text ui-widget-content ui-corner-all"><br />

                <label for="ExpectedSalary">Expected Salary</label><br />
                <input type="text" name="ExpectedSalary" id="ExpectedSalary" class="text ui-widget-content ui-corner-all"><br />

                <label for="Company">Company</label><br />
                @Html.DropDownList("Company", new SelectList(ViewBag.Companies, "CompanyID", "Name"), new { @class = "form-control" })<br />
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">

                <label for="PrimaryExpertise">Primary Expertise</label><br />
                @Html.DropDownList("PrimaryExpertise", new SelectList(ViewBag.Expertises, "ExpertiseID", "Field"), new { @class = "form-control" })<br />

                <label for="PELevel">Primary Expertise Level</label><br />
                @Html.DropDownList("PELevel", new SelectList(ViewBag.ExpertiseLevels, "ExpertiseLevelID", "ExpertiseLevel"), new { @class = "form-control" })<br />

                <label for="SecondaryExpertise">Secondary Expertise</label><br />
                @Html.DropDownList("SecondaryExpertise", new SelectList(ViewBag.Expertises, "ExpertiseID", "Field"), new { @class = "form-control" })<br />

                <label for="SELevel">Secondary Expertise Level</label><br />
                @Html.DropDownList("SELevel", new SelectList(ViewBag.ExpertiseLevels, "ExpertiseLevelID", "ExpertiseLevel"), new { @class = "form-control" })<br />
            </div>
            <br />
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

        </fieldset>
    </form>
</div>

<div class="contextMenu" id="myMenu1" style="display:none">
    <ul style="width: 200px !important;">
        <li id="add">
            <span class="ui-icon ui-icon-contact" style="float:left;"></span>
            <span style="font-size:11px;">View Details</span>
        </li>
        <li id="edit">
            <span class="ui-icon ui-icon-pencil" style="float:left;"></span>
            <span style="font-size:11px;">Edit Details</span>
        </li>
    </ul>
</div>