﻿@Scripts.Render("~/bundles/dataTablesScript")
@Styles.Render("~/bundles/dataTablesCSS")
@Scripts.Render("~/bundles/fileinputscript")
@Styles.Render("~/bundles/fileinputcss")
@Scripts.Render("~/bundles/bootstrapNotify")
@Styles.Render("~/bundles/animate")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "Candidates";
}

<h2>Candidates</h2>
<hr />

<script>
    //convert JSON date format to dd.mm.yyyy
    function convertJSONDate(jsonDate) {
        if (!jsonDate) {
            return null;
        }
        else {
            var formattedDate = new Date(parseInt(jsonDate.substr(6)));
            var date = formattedDate.getDate();
            var month = formattedDate.getMonth() + 1;
            var year = formattedDate.getFullYear();

            return date + "." + month + "." + year;
        }
    };

    $(document).ready(function () {

        jQuery.validator.addMethod("notEqual", function (value, element, param) {
            return this.optional(element) || value != $(param).val();
        }, "Duplicate value detected, please change.");

        jQuery.validator.addMethod("regex", function (value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
        }, "Please check your input.");

        $('#editForm').validate({
            ignore: "",
            rules: {
                'FirstName': {
                    minlength: 3,
                    maxlength: 15,
                    required: true
                },
                'LastName': {
                    minlength: 3,
                    maxlength: 15,
                    required: true
                },
                'City': {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                'Email': {
                    required: true,
                    email: true
                },
                'ExpectedSalary': {
                    required: true
                },
                'Phone': {
                    regex: /^\(?([0-9]{3})\)?[/. ]?([0-9]{3})[-. ]?([0-9]{3,4})$/
                },
                'LinkedIn': {
                    regex: /((https?:\/\/)?((www|\w\w)\.)?linkedin\.com\/)((([\w]{2,3})?)|([^\/]+\/(([\w|\d-&#?=])+\/?){1,}))$/
                },

                'PrimaryExpertiseID':
                {
                    required: function (element) {
                        if ($('#PrimaryExpertiseLevelID').val() > 0) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                },
                'PrimaryExpertiseLevelID':
                {
                    required: function (element) {
                        if ($('#PrimaryExpertiseID').val() > 0) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                },
                'SecondaryExpertiseID':
                {
                    required: function (element) {
                        if ($('#SecondaryExpertiseLevelID').val() > 0) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    notEqual: "#PrimaryExpertiseID"


                },
                'SecondaryExpertiseLevelID':
                {
                    required: function (element) {
                        if ($('#SecondaryExpertiseID').val() > 0) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                }
            },
            highlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },
            unhighlight: function (element) {
                var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.length) {
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
            },
        });

        function notifyError(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-remove-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "danger",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifySuccess(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-ok-circle',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "success",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        function notifyWarning(text) {
            $.notify({
                // options
                icon: 'glyphicon glyphicon-warning-sign',
                title: '',
                message: text,
            }, {
                // settings
                element: 'body',
                position: null,
                type: "warning",
                allow_dismiss: true,
                newest_on_top: true,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "right"
                },
                offset: 40,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInUp',
                    exit: 'animated fadeOutDown'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }

        $('#candidateModal').on('hidden.bs.modal', function () {
            resetModal();
            //reset validation messages and markup
            $('.form-group').each(function () { $(this).removeClass('has-success'); });
            $('.form-group').each(function () { $(this).removeClass('has-error'); });
            $('.form-group').each(function () { $(this).removeClass('has-feedback'); });
            $('.help-block').each(function () { $(this).remove(); });
            $('.form-control-feedback').each(function () { $(this).removeClass('glyphicon-ok').removeClass('glyphicon-remove'); });
        });

        function resetModal() {
            $('#editFormSubmit').hide();
            $('#createFormSubmit').hide();
            $('#candidateModalTitle').html('');
            $('#validateTips').html('');
            $('#CandidateID').val(0);
            $('#FirstName').val('');
            $('#LastName').val('');
            $('#Email').val('');
            $('#Phone').val('');
            $('#City').val('');
            $('#School').val('');
            $('#ExpectedSalary').val('');
            $('#LinkedIn').val('');
            $('#CompanyID').val('');
            $('#Created').val('');
            $('#CreatedBy').val('');
            $('#LastUpdated').val('');
            $('#LastUpdatedBy').val('');
            //expertises tab
            $('#Other').val('');
            //download files tab
            $('#fileList').empty();
            $('#fileMessage').html('');
            //upload files tab
            $('#fileInput').fileinput('clear');
            $('#validateTips').html('');
            initSelectBoxes();

            $('#PrimaryExpertiseID').prop('disabled', false);
            $('#PrimaryExpertiseLevelID').prop('disabled', false);
            $('#SecondaryExpertiseID').prop('disabled', false);
            $('#SecondaryExpertiseLevelID').prop('disabled', false);
        }

        function initSelectBoxes() {
            //select boxes
            $('#CompanyID').prop('selectedIndex', -1);
            $('#PrimaryExpertiseID').prop('selectedIndex', -1);
            $('#PrimaryExpertiseLevelID').prop('selectedIndex', -1);
            $('#SecondaryExpertiseID').prop('selectedIndex', -1);
            $('#SecondaryExpertiseLevelID').prop('selectedIndex', -1);
        }

        function openCreateModal() {
            $('#editFormSubmit').hide();
            $('#createFormSubmit').show();
            $('#candidateModalTitle').html('Create candidate');
            $('#uploadLink').hide();
            $('#downloadLink').hide();

            initSelectBoxes();
            lockSelectBoxes();

            $('#candidateModal').modal({
                backdrop: 'static',
                keyboard: true
            })


            $("#candidateModal").modal('show');
        }

        function opetEditModal() {
            $('#editFormSubmit').show();
            $('#createFormSubmit').hide();
            $('#uploadLink').show();
            $('#downloadLink').show();

            $('#candidateModalTitle').html('Edit Candidate');

            $('#candidateModal').modal({
                backdrop: 'static',
                keyboard: true
            })

            $("#candidateModal").modal('show');

        }

        function submitCreateFormAJAX() {
            primaryExpertise = {}

            //if no Primary Expertise value was set, do not send that part of JSON to controller
            if (($('#PrimaryExpertiseID').val() > 0) && ($('#PrimaryExpertiseLevelID').val() > 0)) {

                console.log('Set Primary Expertise');

                primaryExpertise["ExpertiseID"] = $('#PrimaryExpertiseID').val();
                primaryExpertise["LevelID"] = $('#PrimaryExpertiseLevelID').val();
                primaryExpertise["IsPrimary"] = true;
            }

            console.log('Editing Secondary Expertises');

            secondaryExpertises = [];

            itemSE = {}
            itemSE["ExpertiseID"] = $('#SecondaryExpertiseID').val();
            itemSE["LevelID"] = $('#SecondaryExpertiseLevelID').val();
            itemSE["IsPrimary"] = false;

            //if no Secondary Expertise value was set, do not send that part of JSON to controller
            if (($('#SecondaryExpertiseID').val() > 0) && ($('#SecondaryExpertiseLevelID').val() > 0)) {
                console.log('Push Secondary Expertise');
                secondaryExpertises.push(itemSE);
            }

            $.ajax({
                type: "POST",
                url: '/Candidate/CreateCandidate',
                data: {
                    FirstName: $("#FirstName").val(),
                    LastName: $('#LastName').val(),
                    City: $('#City').val(),
                    Phone: $('#Phone').val(),
                    Email: $('#Email').val(),
                    CompanyID: $('#CompanyID').val(),
                    School: $('#School').val(),
                    LinkedIn: $('#LinkedIn').val(),
                    ExpectedSalary: $('#ExpectedSalary').val(),
                    PrimaryExpertise: primaryExpertise,
                    SecondaryExpertises: secondaryExpertises
                },
                dataType: "json",
                success: function (data) {
                    if (data.success === true) {
                        $('#candidateModal').modal('hide');
                        table.ajax.reload();
                        notifySuccess(data.message);
                    }
                    else if (data.success === false) {
                        $('#validateTips').html(data.message);
                    }

                },
                failure: function (modelStateErrors) {
                    alert("Error:" + modelStateErrors.message);
                }
            });
        }

        function submitEditFormAJAX() {
            primaryExpertise = {}

            console.log('Editing Primary Expertise');

            //if no Primary Expertise value was set, do not send that part of JSON to controller
            if (($('#PrimaryExpertiseID').val() > 0) && ($('#PrimaryExpertiseLevelID').val() > 0)) {

                console.log('Set Primary Expertise');

                primaryExpertise["ExpertiseID"] = $('#PrimaryExpertiseID').val();
                primaryExpertise["LevelID"] = $('#PrimaryExpertiseLevelID').val();
                primaryExpertise["IsPrimary"] = true;
            }

            console.log('Editing Secondary Expertises');

            secondaryExpertises = [];

            itemSE = {}
            itemSE["ExpertiseID"] = $('#SecondaryExpertiseID').val();
            itemSE["LevelID"] = $('#SecondaryExpertiseLevelID').val();
            itemSE["IsPrimary"] = false;

            //if no Secondary Expertise value was set, do not send that part of JSON to controller
            if (($('#SecondaryExpertiseID').val() > 0) && ($('#SecondaryExpertiseLevelID').val() > 0)) {
                console.log('Push Secondary Expertise');
                secondaryExpertises.push(itemSE);
            }


            var data = {
                CandidateID: $("#CandidateID").val(),
                FirstName: $("#FirstName").val(),
                LastName: $('#LastName').val(),
                City: $('#City').val(),
                Phone: $('#Phone').val(),
                Email: $('#Email').val(),
                CompanyID: $('#CompanyID').val(),
                School: $('#School').val(),
                LinkedIn: $('#LinkedIn').val(),
                ExpectedSalary: $('#ExpectedSalary').val(),
                Other: $('#Other').val(),
                PrimaryExpertise: primaryExpertise,
                SecondaryExpertises: secondaryExpertises
            };
            console.log('Sending Data through AJAX');

            $.ajax({
                type: "POST",
                url: '/Candidate/EditCandidate',
                data: JSON.stringify(data),
                contentType: 'application/json, charset=utf-8',
                dataType: "json",

                success: function (data) {
                    if (data.success === true) {
                        $('#candidateModal').modal('hide');
                        table.ajax.reload();
                        notifySuccess("Success:" + data.message);
                    }
                    else if (data.success === false) {
                        $('#validateTips').html(data.message);
                    }

                },
                failure: function (modelStateErrors) {
                    console.log("Error:" + modelStateErrors.message);
                }
            });
        }

        function lockSelectBoxes() {

            console.log("locking fields");

            if ($('#SecondaryExpertiseID').val() <= 0) {
                $('#SecondaryExpertiseLevelID').prop('disabled', true);
            }
            else {
                $('#SecondaryExpertiseLevelID').prop('disabled', false);
            }

            if ($('#PrimaryExpertiseLevelID').val() <= 0) {
                $('#SecondaryExpertiseID').prop('disabled', true);
            }
            else {
                $('#SecondaryExpertiseID').prop('disabled', false);
            }

            if ($('#PrimaryExpertiseID').val() <= 0) {
                $('#PrimaryExpertiseLevelID').prop('disabled', true);
            }
            else {
                $('#PrimaryExpertiseLevelID').prop('disabled', false);
            }
        }

        $(".expertise").change(function () {
            lockSelectBoxes();
        });

        // catch response from uploader
        $('#fileInput').on('filebatchuploaderror', function (event, data, previewId, index) {
            var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;

        });

        // After upload is finish, refresh the download file list
        $('#fileInput').on('filebatchuploadcomplete', function (event, files, extra) {
            //get specified candidate
            $.getJSON("/Settings/GetFiles/" + $('#editCandidateID').val(), function (json) {

                //init display HTML elements
                $('#fileList').html('');
                $('#fileMessage').html('');

                $('#fileList').hide();
                $('#fileMessage').hide();

                //load document links into a table
                if (json.length != 0) {
                    //hide "no files" message and show the table
                    $('#fileList').show();

                    $('#fileList').append('<thead><tr><th>File</th><th>Uploaded on</th><th>Uploaded by</th></tr></thead>');

                    $.each(json.documents, function (key, item) {
                        $('#fileList').append('<tr><td><a href="' + item.Link + '">' + item.Name + '</a></td>'
                                                    + '<td>' + convertJSONDate(item.Created) + '</td>'
                                                    + '<td>' + item.CreatedBy + '</td></tr>');
                    });
                }
                else {
                    //hide table and shot "no files" message
                    $('#fileMessage').show();
                    $('#fileMessage').html('No files available for info candidate');
                }

            });
        });

        //Specify create form submit button action
        $('#createFormSubmit').click(function (e) {

            if ($("#editForm").valid()) {
                submitCreateFormAJAX();
            }

        });

        //Submit edit form
        $('#editFormSubmit').click(function (e) {
            if ($("#editForm").valid()) {
                submitEditFormAJAX();
            }
        });

        //DataTable Edit button click event handler
        $("#editCandidate").click(function () {
            var idValue = table.cell('.info', 0).data(); //ID value in info row

            if (idValue == null) {
                notifyWarning("Please select candidate to edit.");
                return;
            }

            //get specified candidate
            $.getJSON("/Candidate/GetCandidate/" + idValue, function (json) {
                $('#CandidateID').val(json.CandidateID);
                $('#FirstName').val(json.FirstName);
                $('#LastName').val(json.LastName);
                $('#Email').val(json.Email);
                $('#Phone').val(json.Phone);
                $('#City').val(json.City);
                $('#School').val(json.School);
                $('#ExpectedSalary').val(json.ExpectedSalary);
                $('#LinkedIn').val(json.LinkedIn);
                $('#CompanyID').val(json.CompanyID);
                $('#Created').html("Created on: " + convertJSONDate(json.Created));
                $('#CreatedBy').html("Created by: " + json.CreatedBy);
                $('#LastUpdated').html("Last updated on: " + convertJSONDate(json.LastUpdated));
                $('#LastUpdatedBy').html("Last updated by: " + json.LastUpdatedBy);
                $('#Other').val(json.Other);

                //set primary expertise fields
                if (json.PrimaryExpertise != null) {
                    $('#PrimaryExpertiseID').val(json.PrimaryExpertise.ExpertiseID);
                    $('#PrimaryExpertiseLevelID').val(json.PrimaryExpertise.LevelID);
                }
                else
                {
                    initSelectBoxes();
                    lockSelectBoxes();
                }

                if (json.SecondaryExpertises.length != 0) {
                    //iterate through all secondary expertises
                    $.each(json.SecondaryExpertises, function (key, item) {
                        $('#SecondaryExpertiseID').val(item.ExpertiseID);
                        $('#SecondaryExpertiseLevelID').val(item.LevelID);
                    });
                }


                $('#fileList').hide();
                $('#fileMessage').hide();

                //load document links into a table
                if (json.Documents.length != 0) {
                    //hide "no files" message and show the table
                    $('#fileList').show();

                    $('#fileList').append('<thead><tr><th>File</th><th>Uploaded on</th><th>Uploaded by</th></tr></thead>');

                    $.each(json.Documents, function (key, item) {
                        $('#fileList').append('<tr><td><a href="' + item.Link + '">' + item.Name + '</a></td>'
                                                    + '<td>' + convertJSONDate(item.Created) + '</td>'
                                                    + '<td>' + item.CreatedBy + '</td></tr>');
                    });
                }
                else {
                    //hide table and show "no files" message
                    $('#fileMessage').show();
                    $('#fileMessage').html('No files available for info candidate');
                }
            });

            opetEditModal();


        });

        //DataTable Create button click event handler
        $("#createCandidate").click(function () {
            openCreateModal();
        });

        $("#viewCandidate").click(function () {
            var idValue = table.cell('.info', 0).data(); //ID value in info row

            if (idValue == null) {
                notifyWarning("Please select candidate for detailed view.");
                return;
            };

            window.open("/Candidate/CandidateDetails/" + idValue);
        });

        $('#example thead tr#filterrow th').each(function () {
            var title = $('#example thead th').eq($(this).index()).text();
            $(this).html('<input type="text" onclick="stopPropagation(event);" placeholder="Search ' + title + '" />');
        });


        var table = $('#example').DataTable({
            ajax: {
                url: '/Candidate/GetCandidates',
                dataSrc: ''
            },
            "bInfo": false,
            responsive: true,
            autoWidth: false,
            orderCellsTop: true,
            "dom": '<lft><#crud><p>',
            columns: [
                        { "data": "CandidateID", title: "ID", "visible": false },
                        { "data": "FirstName", title: "FirstName", "visible": false },
                        { "data": "LastName", title: "LastName", "visible": false },
                        {
                            title: "Name",
                            "render": function (data, type, row) {
                                return row.FirstName + ' ' + row.LastName;
                            }
                        },
                        { "data": "Email", title: "Email" },
                        {
                            "data": "PrimaryExpertise",
                            title: "Primary Expertise",
                            "render": function (data, type, full, meta) {
                                if (data == null) {
                                    return 'n/a';
                                }
                                else {
                                    return data.ExpertiseName + ': ' + data.LevelName;
                                }
                            },
                        },
                        {
                            "data": "SecondaryExpertises",
                            title: "Secondary Expertise",
                            "render": function (data, type, full, meta) {

                                if (data.length == 1) {
                                    if (data[0].ExpertiseName == null) {
                                        return 'n/a';
                                    }
                                    else {
                                        return data[0].ExpertiseName + ': ' + data[0].LevelName;
                                    }
                                }
                                else if (data.length > 1) {
                                    return 'Error, multiple secondary expertises detected';
                                }
                                else {
                                    return 'n/a';
                                }
                            },
                        },
                        {
                            "data": "Created",
                            title: "Created",
                            "render": convertJSONDate
                        }
            ]
        });

        $('table.dataTable th, table.dataTable td').css("white-space", "normal");

        // Apply the filter
        $("#example thead input").on('keyup change', function () {
            table
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });

        function stopPropagation(evt) {
            if (evt.stopPropagation !== undefined) {
                evt.stopPropagation();
            } else {
                evt.cancelBubble = true;
            }
        }

        //highlight the info row and apply class 'info'
        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('info')) {
                $(this).removeClass('info');
            }
            else {
                table.$('tr.info').removeClass('info');
                $(this).addClass('info');
            }
        });

        //tweak DataTable appearance
        $("#example_length").addClass('col-sm-6 noSidePadding');
        $("#example_filter").addClass('col-sm-6 noSidePadding');
        $("#example_paginate").addClass('col-sm-6 noSidePadding');
        $('#buttonControls').prependTo($("#example_paginate").parent());
        $('#buttonControls').addClass('col-sm-6 noSidePadding');

    });
</script>

<div class="table-responsive">
    <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Name</th>
                <th>Email</th>
                <th>Primary Expertise</th>
                <th>Secondary Expertise</th>
                <th>Created</th>
            </tr>
            <tr id="filterrow">
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Name</th>
                <th>Email</th>
                <th>Primary Expertise</th>
                <th>Secondary Expertise</th>
                <th>Created</th>
            </tr>
        </thead>
    </table>
</div>


<div id="buttonControls">
    <div id="buttons" class="btn-group" role="group" aria-label="...">
        <button id="createCandidate" type="button" class="btn btn-default">Create</button>
        <button id="editCandidate" type="button" class="btn btn-default">Edit</button>
        <button id="viewCandidate" type="button" class="btn btn-default">View</button>
    </div>
</div>

<div id="candidateModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="candidateModalTitle" class="modal-title">Edit candidate</h4>
            </div>
            <div class="modal-body">

                <form id="editForm" class="form-horizontal" role="form">
                    <div id="validateTips"></div>

                    <ul class="nav nav-tabs" id="editModalTabs">
                        <li class="active"><a href="#candidateDetails" data-toggle="tab">Candidate details</a></li>
                        <li><a href="#expertises" data-toggle="tab">Expertises</a></li>
                        <li id="uploadLink"><a href="#upload" data-toggle="tab">Upload files</a></li>
                        <li id="downloadLink"><a href="#download" data-toggle="tab">Download files</a></li>
                    </ul>
                    <br />

                    <div class="tab-content">
                        <div class="tab-pane active" id="candidateDetails">

                            <div class="row">

                                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
                                    <input type="hidden" class="form-control" id="CandidateID">
                                    <div class="form-group has-feedback">
                                        <label for="FirstName" class="control-label col-md-12">First name:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control input-block-level" id="FirstName" name="FirstName">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="FirstName1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="LastName" class="control-label  col-md-12">Last name:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control" id="LastName" name="LastName">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="LastName1"></span>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="City" class="control-label  col-md-12">City:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control" id="City" name="City">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="City1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="Phone" class="control-label  col-md-12">Telephone:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control" id="Phone" name="Phone">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="Phone1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="School" class="control-label  col-md-12">School:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control" id="School" name="School">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="School"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
                                    <div class="form-group has-feedback">
                                        <label for="Email" class="control-label  col-md-12">Email:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control" id="Email" name="Email">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="Email1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="LinkedIn" class="control-label col-md-12">LinkedIn:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control" id="LinkedIn" name="LinkedIn">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="LinkedIn1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="ExpectedSalary" class="control-label col-md-12">Expected salary:</label>
                                        <div class=" col-md-12">
                                            <input type="text" class="form-control" id="ExpectedSalary" name="ExpectedSalary">
                                            <span class="validationGlyph glyphicon form-control-feedback" id="ExpectedSalary1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="CompanyID" class="control-label col-md-12">Company:</label>
                                        <div class="col-md-12">
                                            @Html.DropDownList("CompanyID", new SelectList(ViewBag.Companies, "CompanyID", "Name"), new { @class = "form-control" })
                                            <span class="validationSelectGlyph glyphicon form-control-feedback" id="CompanyID1"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="expertises">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                                    <div class="form-group has-feedback">
                                        <label for="PrimaryExpertiseID" class="control-label col-md-12">Primary expertise:</label>
                                        <div class="col-md-12">
                                            @Html.DropDownList("PrimaryExpertiseID", new SelectList(ViewBag.Expertises, "ExpertiseID", "Name"), new { @class = "form-control expertise" })
                                            <span class="validationSelectGlyph glyphicon form-control-feedback" id="PrimaryExpertiseID1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="PrimaryExpertiseID" class="control-label col-md-12">Expertise level:</label>
                                        <div class="col-md-12">
                                            @Html.DropDownList("PrimaryExpertiseLevelID", new SelectList(ViewBag.Levels, "LevelID", "Name"), new { @class = "form-control expertise" })
                                            <span class="validationSelectGlyph glyphicon form-control-feedback" id="PrimaryExpertiseLevelID1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="SecondaryExpertiseID" class="control-label col-md-12">Secondary expertise:</label>
                                        <div class="col-md-12">
                                            @Html.DropDownList("SecondaryExpertiseID", new SelectList(ViewBag.Expertises, "ExpertiseID", "Name"), new { @class = "form-control expertise" })
                                            <span class="validationSelectGlyph glyphicon form-control-feedback" id="SecondaryExpertiseID1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="SecondaryExpertiseLevelID" class="control-label col-md-12">Expertise level:</label>
                                        <div class="col-md-12">
                                            @Html.DropDownList("SecondaryExpertiseLevelID", new SelectList(ViewBag.Levels, "LevelID", "Name"), new { @class = "form-control expertise" })
                                            <span class="validationSelectGlyph glyphicon form-control-feedback" id="SecondaryExpertiseLevelID1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="Other" class="control-label col-md-12">Other:</label>
                                        <div class="col-md-12">
                                            <textarea class="form-control" id="Other"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="upload">
                            <input id="fileInput" name="kartik-fileInput[]" type="file" multiple class="file-loading">
                            <script>
                                $("#fileInput").fileinput({
                                    uploadUrl: "/Settings/UploadFiles", // server upload action
                                    uploadAsync: true,
                                    maxFileCount: 5,
                                    uploadExtraData: function () {
                                        return {
                                            CandidateID: $('#editCandidateID').val()
                                        };
                                    }
                                });
                            </script>
                        </div>
                        <div class="tab-pane" id="download">
                            <br />
                            <div class="text-center">
                                <a id="fileMessage"></a>
                            </div>
                            <table id="fileList" class="table table-hover table-striped"></table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="editFormSubmit" class="btn btn-primary">Submit</button>
                <button id="createFormSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

